<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - altgraph-web-app</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="stylesheet" href="~/css/cj-style.css" />
  <link rel="stylesheet" href="~/css/empty.css" />
  <link rel="stylesheet" href="~/css/main.css" />
  <link rel="stylesheet" href="~/altgraph-web-app.styles.css" asp-append-version="true" />
</head>