<!DOCTYPE html>
<html lang="en">

<partial name="_Head" />

<body>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; 2022 - altgraph-web-app
    </div>
  </footer>

  <partial name="_BodyJs" />
</body>

</html>