<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head th:replace="fragments/head_fragment :: header">...</head>
<body>

<div th:replace="fragments/page_title_fragment :: page_title">...</div>

<div class="container">
    <div class="row text-center">

        <div class="row">
            <div class="col text-center">
                Spring Data
            </div>
        </div>
</div>
<div th:replace="fragments/body_js_scripts :: javascripts_from_cdn"></div>
</body>
</html>