.black {
  color: #000;
}
.white {
  color: #fff;
}
.blue {
  color: #25afdc;
}
.red {
  color: cj-red;
}
.darkgray {
  color: #545454;
}
.centered {
  align: center;
  text-align: center;
}
.left {
  align: left;
  text-align: left;
}
.right {
  align: right;
  text-align: right;
}
.maintitle {
  align: center;
  text-align: center;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 8px;
}
.mainbox {
  border: 3px solid #fff;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.mainrow {
  padding-top: 20px;
}
.mainlink {
  font-size: 2.2em;
  font-weight: plain;
  color: #fff;
  text-decoration: none;
}
.mainlink:hover {
  color: #fff;
  font-weight: bold;
  font-size: 2.2em;
}
.skillstitle {
  align: center;
  text-align: center;
  color: #545454;
  font-size: 3em;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}
.skillsbox {
  border: 1px solid #545454;
  width: 50%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
}
.skillsheader {
  font-size: 1.1em;
  font-weight: bold;
  color: #505053;
  text-decoration: none;
}
.skill {
  font-size: 1em;
  font-weight: plain;
  color: #7b7b81;
  text-decoration: none;
}
.marathontitle {
  align: center;
  text-align: center;
  color: #545454;
  font-size: 3em;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}
.marathonbox {
  border: 1px solid #545454;
  width: 50%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
}
.marathon_headers {
  font-size: 1em;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.marathon {
  font-size: 1em;
  font-weight: plain;
  color: #7b7b81;
  text-decoration: none;
}
.blogtitle {
  align: center;
  text-align: center;
  color: #545454;
  font-size: 3em;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}
.blogbox {
  width: 60%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
}
.blogheader {
  font-size: 1.1em;
  font-weight: bold;
  color: #505053;
  text-decoration: none;
}
.blog {
  font-size: 1em;
  font-weight: plain;
  color: #7b7b81;
  text-decoration: none;
}
.bloglink {
  font-size: 1em;
  font-weight: plain;
  color: #7b7b81;
  text-decoration: none;
}
.bloglink:hover {
  color: #505053;
  font-weight: bold;
  font-size: 1em;
}
.cloudsbackground {
  background-image: url("../img/bg-clouds-bw-3.jpg");
  background-size: 120%;
  background-repeat: no-repeat;
}
.skillsbackground {
  color: #545454;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.link {
  stroke: #93c464;
}

marker {
  fill: #93c464;
}
