<div asp-fragment="page_title">
  <div class="text-center">
    <h1><a class="text-danger text-decoration-none" href="/">AltGraph</a></h1>
  </div>
  <h3 class="text-center text-muted">Graph Solutions with the Azure CosmosDB SQL API</h3>
</div>