// Define varibles:
// https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/

cj-black        = #000000
cj-white        = #FFFFFF
cj-blue         = #25AFDC
cj-ocean        = #1A6AF4
cj-blue-trans   = #2AAEE2D0
cj-darkgray     = #545454
cj-medgray      = #505053
cj-lightgray    = #7B7B81

// Color Classes

.black
  color:  cj-black

.white
  color:  cj-white

.blue
  color:  cj-blue

.red
  color:  cj-red

.darkgray
  color:  cj-darkgray

.centered
  align:            center
  text-align:       center

.left
  align:            left
  text-align:       left

.right
  align:            right
  text-align:       right

.maintitle
  align:            center
  text-align:       center
  color:            cj-white
  font-size:        3.0em
  font-weight:      bold
  padding-top:      5%
  padding-bottom:   8px

.mainbox
  border:           3px solid cj-white
  width:            50%
  padding-top:      20px
  padding-bottom:   20px
  margin-left:      auto
  margin-right:     auto

.mainrow
  padding-top:      20px

.mainlink
  font-size:        2.2em
  font-weight:      plain
  color:            cj-white
  text-decoration:  none
  &:hover
    color:          cj-white
    font-weight:    bold
    font-size:      2.2em

.skillstitle
  align:            center
  text-align:       center
  color:            cj-darkgray
  font-size:        3.0em
  font-weight:      bold
  padding-top:      4px
  padding-bottom:   4px

.skillsbox
  border:           1px solid cj-darkgray
  width:            50%
  padding-top:      1px
  padding-bottom:   1px
  margin-left:      auto
  margin-right:     auto

.skillsheader
  font-size:        1.1em
  font-weight:      bold
  color:            cj-medgray
  text-decoration:  none

.skill
  font-size:        1.0em
  font-weight:      plain
  color:            cj-lightgray
  text-decoration:  none

.marathontitle
  align:            center
  text-align:       center
  color:            cj-darkgray
  font-size:        3.0em
  font-weight:      bold
  padding-top:      4px
  padding-bottom:   4px

.marathonbox
  border:           1px solid cj-darkgray
  width:            50%
  padding-top:      1px
  padding-bottom:   1px
  margin-left:      auto
  margin-right:     auto

.marathon_headers
  font-size:        1.0em
  font-weight:      bold
  color:            cj-black
  text-decoration:  none

.marathon
  font-size:        1.0em
  font-weight:      plain
  color:            cj-lightgray
  text-decoration:  none

.blogtitle
  align:            center
  text-align:       center
  color:            cj-darkgray
  font-size:        3.0em
  font-weight:      bold
  padding-top:      4px
  padding-bottom:   4px

.blogbox
  width:            60%
  padding-top:      1px
  padding-bottom:   1px
  margin-left:      auto
  margin-right:     auto

.blogheader
  font-size:        1.1em
  font-weight:      bold
  color:            cj-medgray
  text-decoration:  none

.blog
  font-size:        1.0em
  font-weight:      plain
  color:            cj-lightgray
  text-decoration:  none

.bloglink
  font-size:        1.0em
  font-weight:      plain
  color:            cj-lightgray
  text-decoration:  none
  &:hover
    color:          cj-medgray
    font-weight:    bold
    font-size:      1.0em

.cloudsbackground
  background-image: url("../img/bg-clouds-bw-3.jpg")
  background-size:  120%
  background-repeat: no-repeat

.skillsbackground
  color:            cj-darkgray

body
  font-family: Arial, Helvetica, sans-serif
  font-weight: normal
  -webkit-font-smoothing: antialiased
